{% extends 'nav.html' %}

{% block content%}
<center><h1>This is about page template</h1></center>

<p>This is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page templateThis is about page template</p>

{% endblock %}
